
.presentBox {
    display: flex;
    background-color: var(--primary-red);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
}

.presentText {
    color: var(--text-white);
    position: absolute;
}

.present {
    width: 6rem;
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .presentBox {
        display: none;
    }
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.loader {
    border: 4px solid var(--text-red);
    border-top: 4px solid var(--text-red-hover);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}