/* Quantity in Book component */
.quantityBox {
    margin: 10px 0;
}

.quantityNumber {
    font-weight: 400;
    font-size: 27px;
    margin: 0 10px;
    flex: 1;
    line-height: 1;
    vertical-align: center;
}

.quantityBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    flex: 1;
    line-height: 1;
    vertical-align: center;
}

.symbolQuantityBook {
    width: 0.8rem;
}

.quantityNumberBook {
    font-size: 25px;
}

/* Cart */

.cartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.cartTitle {
    font-weight: 200;
    letter-spacing: 0.2em;
    font-size: 30px;
}

.subTitle {
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 40px;
    color:rgb(20, 85, 63);
    color: var(--text-light);
}

.emptyCartBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartBtn {
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
    width:300px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.3em;
    background-color: var(--text-red); 
    cursor: pointer;
}

.cartLink {
    color: var(--text-light);
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
}

.cartBtn:hover {
    background-color: var(--text-red-hover);
}

.cart {
    border: 3px solid var(--text-gray);
    width: 70%;
    margin-bottom: 20px;
}

.cartBox {
    border-bottom: 2px dotted var(--text-gray);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
}

.cartInner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cartImage {
    width: 5rem;
}

.icon {
    cursor: pointer;
}

.cartName {
    text-align: center;
    font-weight: 400;
}

.symbol {
    width: 1rem;
    flex: 1;
} 

.promoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    height: 140px;
    justify-content: space-around;
    width: 60%;
}

.promoInput {
    width: 40%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(20, 85, 63);;
    background-color: rgba(220, 200, 200, 0.345);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.promoBtn {
    width: 35%;
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color:rgb(20, 85, 63);
    background-color: rgba(194, 55, 55, 0.257);
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
}

.promoBtn:hover {
    background-color: rgba(194, 55, 55, 0.176);
}

.total {
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
    letter-spacing: 0.2em;
    color:rgb(20, 85, 63);
}

.cartPrice {
    font-size: 22px;
}

.cartImageWrapper, .cartPriceWrapper, .cartInner, .cartDeleteWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
} 

.cartImage,.cartName, .quantityBox  {
    padding: 0 50px ;
}

@media all and (max-width: 950px) {
    .cartImage,.cartName, .quantityBox  {
        padding: 2px 10px ;
    }

    .cartBox {
        padding: 10px;
    }
    .cart {
        width: 90%;
    }
}

@media all and (max-width: 500px) {
    .cart {
        width: 90%;
        margin: auto;
    }

    .emptyCartBox {
        width: 80%;
    }

    .cartTitle  {
        font-size: 20px;
        text-align: center;
    }

    .cartBox {
        padding: 1px;
    }

    .cartPrice, .cartName {
        font-size: 18px;
    } 

    .cartInner {
        flex: 3;
    }

    .cartPriceWrapper {
        flex: 2;
    }

    .quantityNumber {
        margin: 0;
        font-size: 18px;
    }

    .symbol {
        width: 0.7rem;
    }

    .icon {
        width: 1rem;
    }

    .cartImage {
        width: 3rem;
    }

    .subTitle {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 30px;
    }

    .total {
        font-size: 15px;
    }

    .promoInput {
        width: 70%;
        font-size: 12px;
    }
    
    .promoBtn {
        width: 35%;
        font-size: 12px;
    }
}
