.categoriesBox {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--background-light);
    border-bottom: 1px solid var(--background-light);
}

.categoryButton {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    color: var(--primary-green);
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 5px;
}

.categoryButton:hover {
    background-color: var(--text-green);
    color: var(--text-white); 
}

.categoryButtonSelected {
    background-color:  var(--primary-green);
    color: var(--text-white);
}

.filterBtnMobile {
    display: none;
}

@media all and (max-width: 950px) {
    .filterBtnMobile {
        display: block;
        cursor: pointer;
        border: 1px solid var(--primary-green);
        background-color: var(--primary-green);
        margin: 20px;
        color: var(--text-white); 
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.1em;
        padding: 15px 20px;
        border-radius: 4px;
    }

    .filterBtnMobile:hover {
        background-color: var(--text-green);
    }

    .categoriesBox {
        display: none;
    }

    .categoryButton {
        padding: 10px 15px 10px 55px;
        margin: 10px 0;
        border-radius: 0;
    }

    .categoriesBoxMobile{
        width: 30%;
        text-align: left;
        margin-left: 40px;
        float: left;
        background-color: var(--background-light-gray); ;
    }
}

@media all and (max-width: 500px) {
    .filterBtnMobile{
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1em;
        padding: 10px 25px;
    }

    .categoryButton {
        padding: 10px 15px 10px 55px;
        margin: 15px 0;
        font-size: 14px;
    }

    .categoriesBoxMobile {
        width: 100%;
        text-align: left;
        margin-left: 0;
        float: left;
    }
}