.navLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--background-light);
    height: 10vh;
    margin-right: 30px;
}

.link {
    margin: 20px;
    text-decoration: none;
    color: var(--text-black);
    font-weight: 500;
}

.linkMobile {
    text-decoration: none;
}

.link:hover {
    color: var(--text-black-hover);
}

.basketBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkNumber {
    font-size: 20px;
    color: var(--text-black);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

h1 {
    font-size: 70px;
    letter-spacing: 0.2em;
}

.h1Default {
    text-decoration: none;
    color: black;
}

  /* Mobile */
.mobileMenuIcon {
    display: none;
}

.basketBoxMobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navLinks {
        display: none;
    }

    .navLinksMobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-color: var(--background-light-gray); 
        right: 0;
        transition: all 2s ease-out;
        width: 100%;
        z-index: 100;
    }

    .linkMobile {
        color: var(--text-black-hover);
        text-align: center;
        padding: 20px;
        width: 100%;
        transition: all 0.5s ease-out;
        font-weight: 600;
    }

    .container {
        height: 13vh;
        justify-content: space-around;
        padding: 0 10px;
        align-items: last baseline;
        background-color: var(--background-light-gray); 
    }

    .basketBoxMobile {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-black);
        font-size: 20px;
    }

    .basketLink {
        text-decoration: none;
    }

    .mobileMenuIconWrapper {
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px 0 0;
        background-color: var(--background-light-gray); 
    }

    .mobileMenuIcon {
        display: block;
        font-size: 30px;
        color: var(--text-black);
        background-color: var(--primary-whtie); 
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 10;
    }

    .basketBox {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .navLinksMobile {
        top: 60px;
    }

    .link {
        font-size: 15px;
        margin: 0;
    }

    .swalSizeSm {
        width: 300px !important;
    }

    h1 {
        font-size: 40px;
    }

    .mobileMenuIcon {
        top: 15px;
    }
}
