:root {
  --primary-red: rgb(192, 38, 38);
  --primary-green: rgb(21, 103, 76);
  --background-light-gray: #f9f9f9;
  --background-light: #eee;
  --red-btn: #ff6b6b;
  --red-btn-hover: #ff4141;
  --text-white: white;
  --text-black: black;
  --text-gray: #eee;
  --text-green: rgba(21, 103, 76, 0.771);
  --text-black-hover: rgb(21, 103, 76);
  --text-black-hover-alpha: rgba(21, 103, 76, 0.771);
  --text-light: rgba(20, 85, 63, 0.993);
  --text-light-alpha: rgba(20, 85, 63, 0.823);
  --text-gray-soft: rgba(20, 85, 63, 0.677);
  --text-red: rgba(194, 55, 55, 0.392);
  --text-red-hover: rgba(194, 55, 55, 0.583);
}
